body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

#timer {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}