
/*------------------------------------------ Page Customize Styles start----------------------------------------*/
.customize-title {
    font-family: "Liberty", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255 255 255 / 50%), 0 0 10px rgb(255 255 255 / 30%), 0 0 15px #ffffff;
    margin: 50px 0 20px;
}

.section-title {
    font-family: "Liberty", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255 255 255 / 50%), 0 0 10px rgb(255 255 255 / 30%), 0 0 15px #ffffff;
    margin-bottom: 8px;
}

#customize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.customize-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

#game-customize {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.color-picker-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.color-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

.color-picker label {
    font-family: "Liberty", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.color-picker input {
    width: 45px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#preview {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-canvas {
    width: 100%;
    height: 230px;
    border: 2px solid #09a09b;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    margin-top: 15px;
}

.backgrounds-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.backgrounds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.background-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.background-canvas {
    width: 210px;
    height: 130px;
    border: 1px solid #09a09b;
    border-radius: 10px;
}

.background-label {
    display: inline-flex;
    width: clamp(110px, 12vw, 200px);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(0 255 247 / 16%);;
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    text-align: center;
}

.background-checkbox {
    display: none;
}

.background-text {
    font-family: "Liberty", sans-serif;
    font-size: 18px;
    color: #122322;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    user-select: none;
    margin-left: 12px;
}

.background-checkbox:checked + .background-text {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px #ffffff;
}

.background-label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(9, 160, 155, 0.4);
}

.background-label:active {
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(9, 160, 155, 0.3);
}

.customization-button {
    font-family: 'Liberty', sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 1.4rem);
    padding: 0.3em 0.6em;
    color: #ffffff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px #ffffff;
    background-color: transparent;
    border: 2px solid #0fffcf;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    outline: none;
    margin: 15px;
    width: clamp(120px, 12vw, 220px);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
}

.customization-button:hover {
    background-color: rgba(0, 255, 255, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.powerup-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.powerup-checkbox {
    display: none;
}

.powerup-text {
    font-family: "Liberty", sans-serif;
    font-size: 18px;
    color: #122322;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.powerup-checkbox:checked + .powerup-text {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px #ffffff;
}

.powerup-label {
    display: inline-flex;
    width: clamp(110px, 12vw, 200px);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(0 255 247 / 16%);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.powerup-label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(9, 160, 155, 0.4);
}

.powerup-label:active {
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
}/*------------------------------------------ Page Customize Styles end----------------------------------------*/