.back-button {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(30px, 4vw, 50px);
    height: clamp(30px, 4vw, 50px);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.back-button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}