#forza4Customize h1 {
 color: #fff;
}

#forza4-elements-color {
    font-size: 25px;
}

#forza4-backgrounds {
    font-size: 30px;
    color: #fff;
    text-align: left;
}

#f4-backgrounds-container {
    display: flex;
    flex-direction: column;
}

.f4ButtonBackground {
    font-size: 30 px;
    margin-top: 30px;
    align-self: center;
    padding: 10px 20px;
    min-width: 150px;
}

#f4-background-selected {
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
}

#forza4ApplyCustom {
    font-size: 30px;
    margin-top: 50px;
}