@import url('components/animations.css');
@import url('components/buttons.css');
@import url('components/form.css');
@import url('components/text.css');
@import url('components/resizing.css');
@import url('game-section/canvas.css');
@import url('game-section/forza4-mode.css');
@import url('game-section/forza4-game.css');
@import url('forza4-customize.css');
@import url('game-section/game-customization.css');
@import url('game-section/forza4_statistics.css');
@import url('backTomenu.css');
@import url('profile-menu.css');
@import url('profile.css');
@import url("live-chat/reset.css");
@import url("live-chat/variables.css");
@import url("live-chat/layout.css");
@import url("live-chat/chat.css");
@import url("live-chat/mini-profile.css");
@import url("live-chat/context.css");
@import url("live-chat/responsive.css");
@import url("live-chat/friends.css");
@import url('charts.css');
@import url('match-details.css');



* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
    height: 100%;
    margin: 0;
    font-family: 'Liberty', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6%;
    width: 100%;
    height: 100%;
    user-select: none;
    position: relative;
    background: 
        linear-gradient(35deg, #491f1f, #134946),
        radial-gradient(circle, rgba(255, 243, 255, 0.2) 30%, transparent 60%);
    background-size: cover;
}

.no-background {
    background: none !important;
}