* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Liberty";
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf');
}

html, body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    user-select: none;
}


#main_pageCanvas, #gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bracketCanvas {
    position: relative;
    top: -100px;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

#rankingRobinCanvas {
    position: relative;
    top: -100px;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

.text {
    color: #0fffcf;
    font-family: 'Liberty';
    font-weight: 100;
    font-size: clamp(1.5rem, 5vw, 6rem);
    letter-spacing: -0.24em;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 200px;
    padding-bottom: 20px;
    user-select: none;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.5s;
}

.text-userstats {
    margin-bottom: 600px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.letter {
    color: #09a09b;
    text-shadow: 
        0 0 5px rgba(9, 160, 155, 0.5),
        0 0 10px rgba(9, 160, 155, 0.3),
        0 0 15px #014C4A;
    display: inline-block;
}

.letter.letter-6 {
    display: inline-block;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
    animation: flickerBroken 15s infinite, easySwing 9s ease-in-out infinite;
}

@keyframes flickerBroken {
    0%, 100% {
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    10%, 50%, 90% {
        opacity: 0.9;
        transform: translate(-0.3rem, 1.2rem) rotate(12deg);
    }
    20%, 60% {
        opacity: 0.6;
        transform: translate(-0.3rem, 1.1rem) rotate(14deg);
    }
    30%, 70% {
        opacity: 0.4;
        transform: translate(-0.4rem, 1.3rem) rotate(16deg);
    }
    40%, 80% {
        opacity: 0.8;
        transform: translate(-0.3rem, 1rem) rotate(11deg);
    }
}

@keyframes easySwing {
    0%, 100% {
        transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    25% {
        transform: translate(-0.3rem, 1rem) rotate(5deg);
    }
    50% {
        transform: translate(0.3rem, 1rem) rotate(-5deg);
    }
    75% {
        transform: translate(0.2rem, 1rem) rotate(3deg);
    }
}

/* buttons */
.button-style {
    font-family: 'Liberty', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 0.5em 1em;
    color: #0fffcf;
    background-color: transparent;
    border: 2px solid #0fffcf;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    outline: none;
    margin: 20px;
    width: clamp(150px, 20vw, 300px);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.button-style:hover {
    color: #fff;
    background-color: rgba(0, 255, 255, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.button-erase:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.button-style:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), 0 0 30px rgba(0, 255, 255, 0.3);
    background-color: rgba(0, 255, 255, 0.15);
    transition: all 0.3s ease;
}

.avatar-container {
    position: fixed;
    top: 4%;
    right: 2%;
    cursor: pointer;
    z-index: 500;
    display: inline-block;
    width: clamp(30px, 4vw, 50px);
}

.avatar-image {
    width: clamp(30px, 4vw, 40px);
    height: clamp(30px, 4vw, 40px);
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.avatar-container:hover .avatar-image {
    transform: scale(1.1);
}

.menu-container {
    position: absolute;
    top: 120%;
    right: 0;
    width: clamp(30px, 4vw, 50px);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgba(1, 76, 74, 0.8);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.menu-container.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.menu-item {
    width: clamp(20px, 3vw, 30px);
    height: clamp(20px, 3vw, 30px);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.menu-item img {
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
}

.menu-item:hover {
    background-color: #FF590D;
}

.menu-item:nth-child(1) {
    animation: bounce 0.5s ease-in-out forwards;
}

.menu-item:nth-child(2) {
    animation: bounce 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

@media (max-width: 768px) {
    .avatar-container {
        top: 4%;
        right: 8%;
    }

    .menu-container {
        top: 130%;
        right: 4%;
        width: clamp(25px, 4vw, 40px);
    }

    .menu-item {
        width: clamp(15px, 3vw, 25px);
        height: clamp(15px, 3vw, 25px);
    }
}


@keyframes bounce {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*-----------Radio button style start-------------*/
@keyframes dot-anim {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 20%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    flex-wrap: wrap;
}

.label_knockout {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: relative;
    margin: 4vw;
    transition: all .3s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-name: dot-anim;
    animation-fill-mode: both;
    box-sizing: border-box;
    font-family: "Liberty", sans-serif;
    font-size: 2vw;
    color: #07fff7;
    text-shadow: 
        0 0 5px rgba(9, 160, 155, 0.5),
        0 0 10px rgba(9, 160, 155, 0.3),
        0 0 15px #014C4A;
    text-align: center;
    line-height: 5vw;
    top: 0;
}

.radio:checked + .label_knockout {
    animation-play-state: paused;
}

.label_knockout:after {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
}

.radio:checked + .label_knockout:after {
    background: transparent;
    transition: all .5s;
    transform: translate(-50%, -50%) scale(1);
}

#radio-1 + .label_knockout {
    background: #014C4A;
    animation-delay: 0s;
}

#radio-2 + .label_knockout {
    background: #014C4A;
    animation-delay: .2s;
}

#radio-3 + .label_knockout {
    background: #014C4A;
    animation-delay: .4s;
}

#radio-4 + .label_knockout {
    background: #014C4A;
    animation-delay: .6s;
}

#radio-5 + .label_knockout {
    background: #014C4A;
    animation-delay: .8s;
}

[type="radio"] {
    display: none;
}
/****************Radio button style end***************/
.form__group {
    position: absolute;
    padding: 15px 0 0;
    width: 50%;
    margin-top: 300px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #09a09b;
    outline: 0;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: #09a09b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color:#0fffcf;;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #fc49029f, #07fff7);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #014C4A;
    font-weight: 700;
}

/*------------------------------------------ Page Customize Styles start----------------------------------------*/
.customize-title {
    font-family: "Liberty", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
    margin: 50px 0 20px;
}

.section-title {
    font-family: "Liberty", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
    margin-bottom: 8px;
}

#customize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.customize-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

#game-customize {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.color-picker-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.color-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

.color-picker label {
    font-family: "Liberty", sans-serif;
    font-size: 14px;
    color: #09a09b;
}

.color-picker input {
    width: 45px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#preview {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-canvas {
    width: 100%;
    height: 230px;
    border: 2px solid #09a09b;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    margin-top: 15px;
}

.backgrounds-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.backgrounds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.background-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.background-canvas {
    width: 210px;
    height: 130px;
    border: 1px solid #09a09b;
    border-radius: 10px;
}

.background-label {
    display: inline-flex;
    width: clamp(110px, 12vw, 200px);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(0 255 247 / 16%);;
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    text-align: center;
}

.background-checkbox {
    display: none;
}

.background-text {
    font-family: "Liberty", sans-serif;
    font-size: 18px;
    color: #6c6c6c;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    user-select: none;
    margin-left: 12px;
}

.background-checkbox:checked + .background-text {
    color: #09a09b;
    transform: scale(1.1);
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
}

.background-label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(9, 160, 155, 0.4);
}

.background-label:active {
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(9, 160, 155, 0.3);
}

.customization-button {
    font-family: 'Liberty', sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 1.4rem);
    padding: 0.3em 0.6em;
    color: #0fffcf;
    background-color: transparent;
    border: 2px solid #0fffcf;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    outline: none;
    margin: 15px;
    width: clamp(120px, 12vw, 220px);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
}

.customization-button:hover {
    color: #fff;
    background-color: rgba(0, 255, 255, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.powerup-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.powerup-checkbox {
    display: none;
}

.powerup-text {
    font-family: "Liberty", sans-serif;
    font-size: 18px;
    color: #6c6c6c;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.powerup-checkbox:checked + .powerup-text {
    color: #09a09b;
    transform: scale(1.1);
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
}

.powerup-label {
    display: inline-flex;
    width: clamp(110px, 12vw, 200px);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(0 255 247 / 16%);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.powerup-label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(9, 160, 155, 0.4);
}

.powerup-label:active {
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
}/*------------------------------------------ Page Customize Styles end----------------------------------------*/

#avatarName {
    position: absolute;
    font-family: 'Liberty', sans-serif;
    right: 99px;
    top: 57px;
    font-size: 25px;
    color: #09a09b;
    text-shadow: 0 0 5px rgba(9, 160, 155, 0.5), 0 0 10px rgba(9, 160, 155, 0.3), 0 0 15px #014C4A;
    z-index: 8;
}



/* Forza 4 */
#f4players {
    position: absolute;
    top: 50px;
    left: 20px;
    display: block;
    margin-top: 30px;
    font-size: 20px;
    gap: 10px;
}

.f4player-info {
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

#f4grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#f4grid {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 5px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#f4message {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}